<div style="display:none">
  <input type="text" name="{{dynamicCreator.name}}" value="{{dynamicCreator.data}}">
</div>

<div class="row">
  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">{{$root.lang.dynamic.edit_fields}}</div>
      <div class="panel-body dynamic-editor">
        <div class="dynamic-fields">
          <div class="dynamic-titles">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-3">

                </div><!-- .col-xs-3 -->
                <div class="col-xs-3">
                  <strong>{{$root.lang.dynamic.field}}</strong>
                </div><!-- .col-xs-3 -->
                <div class="col-xs-1 text-center">
                  <strong>*</strong>
                </div><!-- .col-xs-1 -->
                <div class="col-xs-2">
                  <strong>{{$root.lang.dynamic.type}}</strong>
                </div><!-- .col-xs-2 -->
                <div class="col-xs-3">
                  <strong>{{$root.lang.dynamic.alternatives}}</strong>
                </div><!-- .col-xs-3 -->
              </div><!-- .row -->
            </div><!-- .container-fluid -->
          </div><!-- .dynamic-titles -->

          <div class="dynamic-field" ng-repeat="field in dynamicCreator.data.fields">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-3">
                  <button type="button" ng-click="dynamicCreator.removeField($index)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                  <button type="button" ng-click="dynamicCreator.moveFieldUp($index)" class="btn btn-default"><i class="fa fa-arrow-up"></i></button>
                  <button type="button" ng-click="dynamicCreator.moveFieldDown($index)" class="btn btn-default"><i class="fa fa-arrow-down"></i></button>
                </div><!-- .col-xs-3 -->
                <div class="col-xs-3">
                  <input class="form-control" type="text" value="{{field.name}}" ng-model="field.name">
                </div><!-- .col-xs-3 -->
                <div class="col-xs-1 text-center">
                  <input type="checkbox" name="mandatory" ng-model="field.mandatory">
                </div><!-- .col-xs-1 -->
                <div class="col-xs-2">
                  <select class="form-control" ng-model="field.type">
                    <option value="number">{{$root.lang.dynamic.data_types.number}}</option>
                    <option value="text">{{$root.lang.dynamic.data_types.text}}</option>
                    <option value="textarea">{{$root.lang.dynamic.data_types.long_text}}</option>
                    <option value="date">{{$root.lang.dynamic.data_types.date}}</option>
                    <option value="pictures">{{$root.lang.dynamic.data_types.pictures}}</option>
                    <option value="radio">{{$root.lang.dynamic.data_types.unique_selection}}</option>
                    <option value="checkbox">{{$root.lang.dynamic.data_types.multiple_selection}}</option>
                  </select>
                </div><!-- .col-xs-2 -->

                <div class="col-xs-3">
                  <div ng-show="dynamicCreator.fieldHasMultiple[field.type]">
                    <div class="dynamic-alternative" ng-repeat="alternative in field.alternatives">
                      <div class="input-group">
                        <input class="form-control" type="text" value="{{alternative.name}}" ng-model="alternative.name">
                        <span class="input-group-btn">
                          <button type="button" ng-click="dynamicCreator.removeAlternative($parent.$index, $index)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </span>
                      </div>
                    </div>

                    <button class="btn btn-default" type="button" ng-click="dynamicCreator.addAlternative($index)">{{$root.lang.dynamic.add_alternative}}</button>
                  </div>
                  <div ng-show="!dynamicCreator.fieldHasMultiple[field.type]">
                    <button class="btn btn-default" type="button" disabled>{{$root.lang.dynamic.add_alternative}}</button>
                  </div>
                </div><!-- .col-xs-3 -->

              </div><!-- .row -->
            </div><!-- /.container-fluid -->

          </div><!-- /.dynamic-field -->

          <div class="dynamic-toolbar">
            <button class="btn btn-default" type="button" ng-click="dynamicCreator.addField()">{{$root.lang.dynamic.add_field}}</button>
          </div><!--/.dynamic-toolbar -->
        </div>
      </div><!-- /.panel-body -->
    </div><!-- /.panel -->
  </div><!-- /.col-xs-8 -->

  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">{{$root.lang.dynamic.previsualization}}</div>
      <div class="panel-body dynamic-filler">

        <div class="dynamic-fields">
          <div class="dynamic-field" ng-repeat="field in dynamicCreator.data.fields">

            <div class="form-group" ng-switch="field.type">
              <label class="control-label">{{field.name}}</label>
              <textarea ng-switch-when="textarea" class="form-control" rows="3"></textarea>
              <input ng-switch-when="color" class="form-control" type="{{field.type}}" value="">
              <input ng-switch-when="number" class="form-control" type="{{field.type}}" value="" step="0.001">
              <input ng-switch-when="text" class="form-control" type="{{field.type}}" value="">
              <input ng-switch-when="date" class="form-control" type="{{field.type}}" value="">
              <input ng-switch-when="email" class="form-control" type="{{field.type}}" value="">
              <input ng-switch-when="pictures" class="form-control" type="file" accept="image/*" capture="camera" multiple="multiple">
              <input ng-switch-when="video" class="form-control" type="file" accept="video/*" capture="camcorder">
              <input ng-switch-when="audio" class="form-control" type="file" accept="audio/*" capture="microphone">


              <div class="dynamic-toggle-input" data-toggle="buttons">
                <div ng-switch-when="checkbox" ng-repeat="alternative in field.alternatives">
                  <label ng-click="dynamicCreator.toggleCheckbox(field, alternative)" class="btn btn-default btn-block">
                    <input name="{{alternative.name}}" type="{{field.type}}"> {{alternative.name}}
                    <i ng-show="alternative.selected" class="fa fa-check"></i>
                  </label>
                </div>

                <div ng-switch-when="radio" ng-repeat="alternative in field.alternatives">
                  <label ng-click="dynamicCreator.changeRadioButton(field, alternative)" class="btn btn-default btn-block">
                    <input name="{{alternative.name}}" type="{{field.type}}"> {{alternative.name}}
                    <i ng-show="field.value == alternative.name" class="fa fa-check"></i>
                  </label>
                </div>
              </div>
            </div><!-- /.form-group -->
          </div>
        </div>
      </div>
    </div><!-- /.panel -->

    <div ng-show="dynamicCreator.showJSON" class="well">
      {{dynamicCreator.data.fields|json}}
    </div><!-- /.well -->
  </div><!-- /.col-xs-4 -->
</div><!-- /.row -->
