<div style="display:none">
  <input type="text" name="{{dynamicFiller.name}}" value="{{dynamicFiller.template}}">
</div>

<div ng-show="dynamicFiller.template" class="panel panel-primary">
  <div class="panel-heading">{{$root.lang.dynamic.data}}</div>
  <div class="panel-body dynamic-filler">

    <div class="dynamic-fields">
      <div class="dynamic-field" ng-repeat="field in dynamicFiller.template.fields">

        <div class="form-group" ng-switch="field.type">
          <label class="control-label">{{field.name}}</label>
          <textarea ng-model="field.value" ng-switch-when="textarea" class="form-control" rows="3"></textarea>
          <input ng-model="field.value" ng-switch-when="color" class="form-control" type="{{field.type}}">
          <input ng-model="field.value" ng-switch-when="number" class="form-control" type="{{field.type}}" step="0.001">
          <input ng-model="field.value" ng-switch-when="text" class="form-control" type="{{field.type}}">
          <input ng-model="field.value" ng-switch-when="date" class="form-control" type="{{field.type}}">
          <input ng-model="field.value" ng-switch-when="email" class="form-control" type="{{field.type}}">

          <div ng-switch-when="pictures" class="dynamic-multiple-media">
            <div ng-repeat="picture in field.pictures">
              <div ng-if="picture.id">
                <div ng-if="picture._destroy">
                  <input style="display:none" type="text" name="{{dynamicFiller.object_name}}[pictures_attributes][][id]" value="{{picture.id}}">
                  <input style="display:none" type="text" name="{{dynamicFiller.object_name}}[pictures_attributes][][_destroy]" value="{{picture._destroy}}">
                </div>
                <div ng-if="!picture._destroy">
                  <img src="{{picture.thumb_url}}" alt="thumb">
                  <button ng-click="dynamicFiller.destroyPicture(field, picture)" type="button" class="btn btn-danger">{{$root.lang.dynamic.delete}}</button>
                </div>
              </div>
              <div ng-if="!picture.id">
                <label>
                  <input style="display:none" type="text" name="{{dynamicFiller.object_name}}[pictures_attributes][][id]" value="{{picture.id}}">
                  <input style="display:none" type="text" name="{{dynamicFiller.object_name}}[pictures_attributes][][local_id]" value="{{picture.local_id}}">
                  <input id="{{picture.local_id}}" name="{{dynamicFiller.object_name}}[pictures_attributes][][image]" class="form-control" type="file" accept="image/*" capture="camera">
                </label>
              </div>
            </div>
            <button class="btn btn-default btn-block" type="button" ng-click="dynamicFiller.addPicture(field)">{{$root.lang.dynamic.new_picture}}</button>
          </div><!-- /.dynamic-multiple-media -->

          <!-- <input ng-switch-when="video" class="form-control" type="file" accept="video/*" capture="camcorder"> -->
          <!-- <input ng-switch-when="audio" class="form-control" type="file" accept="audio/*" capture="microphone"> -->

          <div class="dynamic-toggle-input" data-toggle="buttons">
            <div ng-switch-when="checkbox" ng-repeat="alternative in field.alternatives">
              <label ng-click="dynamicFiller.toggleCheckbox(field, alternative)" class="btn btn-default btn-block">
                <input name="{{field.name}}" type="{{field.type}}"> {{alternative.name}}
                <i ng-show="alternative.selected" class="fa fa-check"></i>
              </label>
            </div>

            <div ng-switch-when="radio" ng-repeat="alternative in field.alternatives">
              <label ng-click="dynamicFiller.changeRadioButton(field, alternative)" class="btn btn-default btn-block">
                <input name="{{field.name}}" type="{{field.type}}"> {{alternative.name}}
                <i ng-show="field.value == alternative.name" class="fa fa-check"></i>
              </label>
            </div>
          </div>
        </div><!-- /.form-group -->
      </div>
    </div>
  </div>
</div><!-- /.panel -->

<div ng-show="dynamicFiller.showJSON" class="well">
  {{dynamicFiller.template.fields|json}}
</div><!-- /.well -->
