<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag "logo-dimin-bw-169x146.png", alt: 'DIMIN Logo', class: ''%>
      </div>
      <div class="col-sm-3">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="http://www.usach.cl">Universidad de Santiago de Chile</a></li>
          <li><a href="http://dim.usach.cl/">Departamento de Ingeniería en Minas</a></li>
          <li><a href="http://cgem.usach.cl">CGEM</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Acerca de CGEM</h4>
        <p class="small">
          Organización semi-independiente, con instalaciones propias que está enfocado al análisis de muestras de rocas, prestando servicios para la preparación y ejecución de ensayos provenientes de diferentes mineras u otros laboratorios para comparar resultados, entregando la asistencia técnica requerida.
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Contacto</h4>
        <ul>
          <li>E-mail: cgem@usach.cl<br/></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="credits">
    <div class="container">
    <div class="row">
    <div class="col-sm-6 text-left">
    Versión 1.0
    </div>
    <div class="col-sm-6 text-right">
    Construido por
    <a href="http://daniloaburto.com">Danilo Aburto Vivians</a> y Marcos Villarreal Macchiavello <%= Date.today.year %>
    </div>
    </div>
    </div>
    </div>
  </div>
</footer>
